sub-s001_task-faceFO_clean.set
coherencedata.mat
hann_window.m
hann_window.m~
Windowcoherencedata.mat
overlap_test.m
breaks_test.m
breakpoints_code.m~
breakpoints_code.mat
windows_overlap_data.mat
breaks.m
complex_demodulation.m
complex_demodulation.m~
*.png
complex_demod1.m~
cohtest.m
breaks_test.m~
.DS_Store
coh.m~ 
*.set
no_voc_task_301_coherence.mat
*.mat
matlabtests
jobscripts
eeglab2019_1
no_voc_task_301_coh_cc_test.m
extractconditionstest.m
untitled8.m
*.pages
untitled.m
cptcan_readfiles_cptcoh.m~
extractconditions2.m
eegdatasets_list.txt
readfilestest.m
*.m~
ext_angyface_cond.m
ext_diff_face_cond.m
ext_diff_music_cond.m
ext_eclosed_cond.m
ext_eopen_cond.m
ext_faces_cond.m
ext_feam_cond.m
ext_fearface_cond.m
ext_hapm_cond.m
ext_hapyface_cond.m
ext_joym_cond.m
ext_music_cond.m
ext_neutface_cond.m
ext_rest_cond.m
ext_sadm_cond.m
new_eyes_open.m
new_eyes_open_2.m
computecanada_eyesclosedmarker_test.m
*.txt
cptcan_readfiles_cptcoh.m


